In [7]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.metrics import *

%matplotlib inline

## File Writing

In [8]:
from io import BytesIO  
import requests  
import json  
import pandas as pd

def put_file(credentials, local_file_name):  
    """This functions returns a StringIO object containing
    the file content from Bluemix Object Storage V3."""
    f = open(local_file_name,'r')
    my_data = f.read()
    url1 = ''.join(['https://identity.open.softlayer.com', '/v3/auth/tokens'])
    data = {'auth': {'identity': {'methods': ['password'],
            'password': {'user': {'name': credentials['username'],'domain': {'id': credentials['domain_id']},
            'password': credentials['password']}}}}}
    headers1 = {'Content-Type': 'application/json'}
    resp1 = requests.post(url=url1, data=json.dumps(data), headers=headers1)
    resp1_body = resp1.json()
    for e1 in resp1_body['token']['catalog']:
        if(e1['type']=='object-store'):
            for e2 in e1['endpoints']:
                        if(e2['interface']=='public'and e2['region']=='dallas'):
                            url2 = ''.join([e2['url'],'/', credentials['container'], '/', local_file_name])
    s_subject_token = resp1.headers['x-subject-token']
    headers2 = {'X-Auth-Token': s_subject_token, 'accept': 'application/json'}
    resp2 = requests.put(url=url2, headers=headers2, data = my_data )
    print resp2

In [9]:

# @hidden_cell
satha_credentials = {
  'auth_url':'https://identity.open.softlayer.com',
  'project':'object_storage_b3d15058_4aa1_42a1_975f_62c1c8b1699a',
  'project_id':'1e25eccc8cec40699e74914679c79593',
  'region':'dallas',
  'user_id':'f909479c2549457cb3fc79a7445beeff',
  'domain_id':'0592036926cf47bf87e889ec75d0d38b',
  'domain_name':'1154437',
  'username':'member_e28904fb9993787d907536191c825c593c36c601',
  'password':"""W-ucS.1Ge_fr.0b(""",
  'container':'201710kbankibm',
  'tenantId':'undefined',
  'filename':'cat_acronym.csv'
}

## Load data

In [10]:

from io import StringIO
import requests
import json
import pandas as pd

# @hidden_cell
# This function accesses a file in your Object Storage. The definition contains your credentials.
# You might want to remove those credentials before you share your notebook.
def get_object_storage_file_with_credentials_b3d150584aa142a1975f62c1c8b1699a(container, filename):
    """This functions returns a StringIO object containing
    the file content from Bluemix Object Storage."""

    url1 = ''.join(['https://identity.open.softlayer.com', '/v3/auth/tokens'])
    data = {'auth': {'identity': {'methods': ['password'],
            'password': {'user': {'name': 'member_e28904fb9993787d907536191c825c593c36c601','domain': {'id': '0592036926cf47bf87e889ec75d0d38b'},
            'password': 'W-ucS.1Ge_fr.0b('}}}}}
    headers1 = {'Content-Type': 'application/json'}
    resp1 = requests.post(url=url1, data=json.dumps(data), headers=headers1)
    resp1_body = resp1.json()
    for e1 in resp1_body['token']['catalog']:
        if(e1['type']=='object-store'):
            for e2 in e1['endpoints']:
                        if(e2['interface']=='public'and e2['region']=='dallas'):
                            url2 = ''.join([e2['url'],'/', container, '/', filename])
    s_subject_token = resp1.headers['x-subject-token']
    headers2 = {'X-Auth-Token': s_subject_token, 'accept': 'application/json'}
    resp2 = requests.get(url=url2, headers=headers2)
    return StringIO(resp2.text)

cc_info = pd.read_csv(get_object_storage_file_with_credentials_b3d150584aa142a1975f62c1c8b1699a('201710kbankibm', 'cc_info.csv'))
cc_info.head()

,card_no,card_type,opn_dt,exp_dt,cr_lmt_amt,prev_cr_lmt_amt,main_zip_cd,cr_line_amt,incm_amt,brth_estb_yr
0,4410123456000001,visa,1997-10-14,1017,50000,0,73120.0,50000,21000,1953.0
1,4410123456000002,master,2010-06-29,620,146000,0,43000.0,146000,72000,1965.0
2,4410123456000003,visa,2014-06-18,619,22000,0,23000.0,22000,20000,1978.0
3,4410123456000004,visa,2014-11-03,1119,1000000,0,10200.0,2141000,1800000,1955.0
4,4410123456000005,visa,2014-04-10,419,80000,0,57160.0,80000,32000,1969.0

In [11]:

answer = pd.read_csv(get_object_storage_file_with_credentials_b3d150584aa142a1975f62c1c8b1699a('201710kbankibm', 'answer.csv'))
answer.head()

,Automobiles and Vehicles-freq,Clothing Stores-freq,Service Providers-freq,Transportation-freq,Utilities-freq,Automobiles and Vehicles-sum,Clothing Stores-sum,Service Providers-sum,Transportation-sum,Utilities-sum
0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0
1,0,0,1,0,0,0.0,0.0,1580.0,0.0,0.0
2,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0
3,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0
4,0,0,0,1,0,0.0,0.0,0.0,780.0,0.0

In [12]:

cc_log = pd.read_csv(get_object_storage_file_with_credentials_b3d150584aa142a1975f62c1c8b1699a('201710kbankibm', 'cc_log.csv'))
cc_log.head()

,card_no,txn_dt,txn_tm,bill_amt,card_acpt_cty,mrch_tp_cd,card_type
0,4410123456098153,2017-03-21T00:00:00.000+07:00,10:22:19,5660,TH,4722,visa
1,4410123456018545,2017-03-21T00:00:00.000+07:00,23:30:43,100,US,5818,visa
2,4410123456085556,2017-03-21T00:00:00.000+07:00,07:32:54,1540,TH,6300,visa
3,4410123456047294,2017-03-21T00:00:00.000+07:00,05:16:20,1500,TH,5541,visa
4,4410123456074332,2017-03-21T00:00:00.000+07:00,13:18:56,680,TH,5812,visa

In [13]:

cc_cat = pd.read_csv(get_object_storage_file_with_credentials_b3d150584aa142a1975f62c1c8b1699a('201710kbankibm', 'Final_categories.csv'))
cc_cat = cc_cat.rename(str,{'Categories':'Category'})
cc_cat.head()

   Category   MCC
0  Airlines  3000
1  Airlines  3001
2  Airlines  3002
3  Airlines  3003
4  Airlines  3004

In [14]:

# cc_cat = pd.read_csv(get_object_storage_file_with_credentials_b3d150584aa142a1975f62c1c8b1699a('201710kbankibm', 'final_cat_acronym.csv'),
#                         sep=':')

# cc_cat.reset_index(inplace=True)
# cc_cat = cc_cat.rename(index=str, columns={'index':'MCC','MCC,Acronym':'Category'})
# cc_cat.head()

## Change data types

In [15]:
cc_log['txn_dt'] = pd.to_datetime(cc_log['txn_dt'])

## Joining data

In [16]:
cc_log = pd.merge(cc_log, cc_cat, how='left', left_on='mrch_tp_cd', right_on='MCC')

In [17]:
cc_log['Category'] = cc_log['Category'].fillna('Others')

In [18]:
cc_log = cc_log.drop(['mrch_tp_cd'], axis=1)

## Get mock answer (2017/06)

In [19]:
def oneHotAgg(x):
    temp = {}
    for cat in ['Automobiles and Vehicles', 'Clothing Stores', 'Service Providers', 'Transportation', 'Utilities']:
        temp[cat + '-freq'] = (x.loc[x.Category == cat, 'bill_amt']).count()
        temp[cat + '-sum'] = (x.loc[x.Category == cat,'bill_amt']).sum()
    return pd.Series(temp)

def generate_answer(cc_log, year=2017, month=1):
    cc_answer_pattern = pd.DataFrame({
    'card_no': cc_info['card_no'],
    'Automobiles and Vehicles-freq': np.zeros(cc_info['card_no'].shape[0]),
    'Clothing Stores-freq': np.zeros(cc_info['card_no'].shape[0]),
    'Service Providers-freq': np.zeros(cc_info['card_no'].shape[0]),
    'Transportation-freq': np.zeros(cc_info['card_no'].shape[0]),
    'Utilities-freq': np.zeros(cc_info['card_no'].shape[0]),
    'Automobiles and Vehicles-sum': np.zeros(cc_info['card_no'].shape[0]),
    'Clothing Stores-sum': np.zeros(cc_info['card_no'].shape[0]),
    'Service Providers-sum': np.zeros(cc_info['card_no'].shape[0]),
    'Transportation-sum': np.zeros(cc_info['card_no'].shape[0]),
    'Utilities-sum': np.zeros(cc_info['card_no'].shape[0])})
    cc_log_ans = cc_log.loc[(cc_log['txn_dt'].apply(lambda x:x.month) == month) & 
                                (cc_log['txn_dt'].apply(lambda x:x.year) == year), :]
    cc_answer = cc_log_ans.groupby('card_no').apply(oneHotAgg).reset_index()
    
    tmp = pd.merge(cc_answer_pattern, cc_answer, how='left', on='card_no').fillna(0)
    
    for a in [x+y for x in ['Automobiles and Vehicles', 'Clothing Stores', 'Service Providers', 'Transportation', 'Utilities']
            for y in ['-freq', '-sum']]:
        tmp[a] = tmp[a + '_x'] + tmp[a + '_y']
        tmp = tmp.drop([a + '_x', a + '_y'], axis=1)

    return tmp

In [ ]:
cc_answer_201701 = generate_answer(cc_log, year=2017, month=1)

In [20]:
cc_answer_201701.to_csv('2017-01-answer.csv', index=False)
put_file(satha_credentials, '2017-01-answer.csv')

<Response [201]>

In [22]:
cc_answer_201701.head()

,card_no,Automobiles and Vehicles-freq,Automobiles and Vehicles-sum,Clothing Stores-freq,Clothing Stores-sum,Service Providers-freq,Service Providers-sum,Transportation-freq,Transportation-sum,Utilities-freq,Utilities-sum
0,4410123456000001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,4410123456000002,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4410123456000003,2.0,3580.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4410123456000004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4410123456000005,4.0,3040.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Mock Answer (2016/12)

In [40]:
cc_answer_201612 = generate_answer(cc_log, year=2016, month=12)

In [181]:
cc_answer_201512 = generate_answer(cc_log, year=2015, month=12)

In [182]:
cc_answer_201512.to_csv('cc_answer_201512.csv', index=False)
put_file(satha_credentials, 'cc_answer_201512.csv')

<Response [201]>

## Aggregation

In [41]:
cc_answer_201601 = generate_answer(cc_log, year=2016, month=1)

In [20]:
cc_answer_201612.to_csv('cc_answer_201612.csv', index=False)
put_file(satha_credentials, 'cc_answer_201612.csv')

cc_answer_201601.to_csv('cc_answer_201601.csv', index=False)
put_file(satha_credentials, 'cc_answer_201601.csv')

NameError: name 'cc_answer_201612' is not defined

In [21]:
cc_answer_201701 = pd.read_csv(get_object_storage_file_with_credentials_b3d150584aa142a1975f62c1c8b1699a('201710kbankibm', '2017-01-answer.csv'))
cc_answer_201601 = pd.read_csv(get_object_storage_file_with_credentials_b3d150584aa142a1975f62c1c8b1699a('201710kbankibm', 'cc_answer_201601.csv'))
cc_answer_201612 = pd.read_csv(get_object_storage_file_with_credentials_b3d150584aa142a1975f62c1c8b1699a('201710kbankibm', 'cc_answer_201612.csv'))

## Naive Evaluation

In [20]:
pd.DataFrame(columns=['name'] + [x+y for x in ['Automobiles and Vehicles', 'Clothing Stores', 'Service Providers', 'Transportation', 'Utilities']
            for y in ['-freq', '-sum']])

Empty DataFrame
Columns: [name, Automobiles and Vehicles-freq, Automobiles and Vehicles-sum, Clothing Stores-freq, Clothing Stores-sum, Service Providers-freq, Service Providers-sum, Transportation-freq, Transportation-sum, Utilities-freq, Utilities-sum]
Index: []

In [28]:
scores = pd.DataFrame(columns=[x+y for x in ['Automobiles and Vehicles', 'Clothing Stores', 'Service Providers', 'Transportation', 'Utilities']
            for y in ['-freq', '-sum']])

scoring_data = {
    '201601_MAE':{
        'pred': cc_answer_201601,
        'ans': cc_answer_201701,
        'fn': mean_absolute_error
    },
    '201601_MSE':{
        'pred': cc_answer_201601,
        'ans': cc_answer_201701,
        'fn': mean_squared_error
    },
    '201612_MAE':{
        'pred': cc_answer_201612,
        'ans': cc_answer_201701,
        'fn': mean_absolute_error
    },
    '201612_MSE':{
        'pred': cc_answer_201612,
        'ans': cc_answer_201701,
        'fn': mean_squared_error
    }
}

for name, data in scoring_data.iteritems():
    new_data = dict()
#     new_data['name'] = [name]
    for a in [x+y for x in ['Automobiles and Vehicles', 'Clothing Stores', 'Service Providers', 'Transportation', 'Utilities']
                for y in ['-freq', '-sum']]:
        new_data[a] = [data['fn'](data['pred'][a], data['ans'][a])]
    scores = scores.append(pd.DataFrame(new_data, index=[name]))
#     print new_data

scores.head()

,Automobiles and Vehicles-freq,Automobiles and Vehicles-sum,Clothing Stores-freq,Clothing Stores-sum,Service Providers-freq,Service Providers-sum,Transportation-freq,Transportation-sum,Utilities-freq,Utilities-sum
201601_MSE,2.532221,1.700592e+08,0.638884,8.000736e+07,3.511878,7.986387e+09,1.366920,1.357604e+08,0.551218,3.737971e+07
201612_MSE,1.579453,1.726393e+08,0.822580,1.346220e+08,2.494618,7.144193e+09,0.830130,1.663102e+08,0.526467,8.573237e+07
201601_MAE,0.632769,1.448107e+03,0.225044,8.744553e+02,0.459365,5.845895e+03,0.207051,9.120915e+02,0.240516,9.988586e+02
201612_MAE,0.519168,1.522521e+03,0.246923,9.972524e+02,0.464697,1.060855e+04,0.188465,9.323202e+02,0.232835,1.151125e+03

## Jan 2016 Only

In [ ]:
cc_log_201601 = cc_log.loc[(cc_log['txn_dt'].apply(lambda x:x.month) == 1) & 
                                (cc_log['txn_dt'].apply(lambda x:x.year) == 2016), :]

pd.pivot_table(cc_log_201601, values='bill_amt', index='card_no', columns='Category', 
               aggfunc='sum', fill_value=0).reset_index()

## Preprocess data

In [22]:
cc_answer = cc_answer_201612.copy()

categories = ['Automobiles and Vehicles', 'Clothing Stores', 
              'Service Providers', 'Transportation', 'Utilities']

for cat in categories:
    cc_answer[cat + '_has_spending'] = (cc_answer[cat + '-freq'] > 0).astype(np.int32)

for col in cc_answer.iloc[:, 1:].columns:
    cc_answer[col] = cc_answer[col].astype(np.float32)
    
cc_answer.head()

,card_no,Automobiles and Vehicles-freq,Automobiles and Vehicles-sum,Clothing Stores-freq,Clothing Stores-sum,Service Providers-freq,Service Providers-sum,Transportation-freq,Transportation-sum,Utilities-freq,Utilities-sum,Automobiles and Vehicles_has_spending,Clothing Stores_has_spending,Service Providers_has_spending,Transportation_has_spending,Utilities_has_spending
0,4410123456000001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,4410123456000002,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4410123456000003,3.0,2960.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,4410123456000004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4410123456000005,2.0,1200.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [23]:
cc_info_agg = cc_info.copy()

cc_info_agg['opn_yr'] = pd.to_datetime(cc_info_agg['opn_dt']).apply(lambda x: x.year)
cc_info_agg['exp_yr'] = cc_info_agg['exp_dt'].apply(lambda x:2000 + (x % 100))
cc_info_agg['card_age'] = cc_info_agg['exp_yr'] - cc_info_agg['opn_yr']
cc_info_agg['age'] = 2017 - cc_info_agg['brth_estb_yr']

cc_info_agg = cc_info_agg.fillna(0)

cc_info_agg = cc_info_agg.drop(['main_zip_cd', 'brth_estb_yr', 'exp_dt', 'opn_dt', 'card_type'], axis=1)

for col in cc_info_agg.iloc[:, 2:].columns:
    cc_info_agg[col] = cc_info_agg[col].astype(np.float32)

cc_info_agg.head()

,card_no,cr_lmt_amt,prev_cr_lmt_amt,cr_line_amt,incm_amt,opn_yr,exp_yr,card_age,age
0,4410123456000001,50000,0.0,50000.0,21000.0,1997.0,2017.0,20.0,64.0
1,4410123456000002,146000,0.0,146000.0,72000.0,2010.0,2020.0,10.0,52.0
2,4410123456000003,22000,0.0,22000.0,20000.0,2014.0,2019.0,5.0,39.0
3,4410123456000004,1000000,0.0,2141000.0,1800000.0,2014.0,2019.0,5.0,62.0
4,4410123456000005,80000,0.0,80000.0,32000.0,2014.0,2019.0,5.0,48.0

In [435]:
cc_cat['Category'].unique()

array(['Airlines', 'Amusement and Entertainment',
       'Automobile/Vehicle Rentals', 'Automobiles and Vehicles',
       'Business Services', 'Clothing Stores', 'Contracted Services',
       'Government Services', 'Hotels and Motels',
       'Mail Order/Telephone Order Providers', 'Miscellaneous Stores',
       'Personal Service Providers',
       'Professional Services and Membership Organizations',
       'Repair Services', 'Retail Stores', 'Service Providers',
       'Transportation', 'Utilities',
       'Wholesale Distributors and Manufacturers'], dtype=object)

In [53]:
cc_log_agg_201611 = generate_answer(cc_log, year=2016, month=11)

In [24]:
last_month = 11
cc_log_agg_last_month = cc_log.loc[(cc_log['txn_dt'].apply(lambda x: x.month) == last_month) & 
                               (cc_log['txn_dt'].apply(lambda x: x.year) < 2017), :].copy()
cc_log_agg_3_month = cc_log.loc[(cc_log['txn_dt'].apply(lambda x: x.month) > last_month - 3) & 
                                (cc_log['txn_dt'].apply(lambda x: x.month) <= last_month) &
                               (cc_log['txn_dt'].apply(lambda x: x.year) < 2017), :].copy()
cc_log_agg_6_month = cc_log.loc[(cc_log['txn_dt'].apply(lambda x: x.month) > last_month - 6) & 
                                (cc_log['txn_dt'].apply(lambda x: x.month) <= last_month) &
                               (cc_log['txn_dt'].apply(lambda x: x.year) < 2017), :].copy()
cc_log_agg_whole_year = cc_log.loc[(cc_log['txn_dt'].apply(lambda x: x.month) <= last_month) &
                               (cc_log['txn_dt'].apply(lambda x: x.year) < 2017), :].copy()

In [25]:
opts = ['mean', 'min', 'max', 'count']

grouped = cc_log_agg_last_month.groupby(['card_no', 'Category']).agg({'bill_amt': opts}).unstack(fill_value=0)
cc_log_agg_1m = pd.concat([grouped['bill_amt'][opt].reset_index()\
                              .rename(columns={x: x + '_1m_' + opt for x in grouped['bill_amt'][opt].columns}) for opt in opts], axis=1)
# cc_log_agg_1m = cc_log_agg_1m.fillna(0)

grouped = cc_log_agg_3_month.groupby(['card_no', 'Category']).agg({'bill_amt': opts}).unstack(fill_value=0)
cc_log_agg_3m = pd.concat([grouped['bill_amt'][opt].reset_index()\
                              .rename(columns={x: x + '_3m_' + opt for x in grouped['bill_amt'][opt].columns}) for opt in opts], axis=1)
# cc_log_agg_3m = cc_log_agg_3m.fillna(0)

grouped = cc_log_agg_6_month.groupby(['card_no', 'Category']).agg({'bill_amt': opts}).unstack(fill_value=0)
cc_log_agg_6m = pd.concat([grouped['bill_amt'][opt].reset_index()\
                              .rename(columns={x: x + '_6m_' + opt for x in grouped['bill_amt'][opt].columns}) for opt in opts], axis=1)
# cc_log_agg_6m = cc_log_agg_6m.fillna(0)

grouped = cc_log_agg_whole_year.groupby(['card_no', 'Category']).agg({'bill_amt': opts}).unstack(fill_value=0)
cc_log_agg_1y = pd.concat([grouped['bill_amt'][opt].reset_index()\
                              .rename(columns={x: x + '_1y_' + opt for x in grouped['bill_amt'][opt].columns}) for opt in opts], axis=1)
# cc_log_agg_1y = cc_log_agg_1y.fillna(0)

In [29]:
cc_log_agg_list = [cc_log_agg_1m, cc_log_agg_3m, cc_log_agg_6m, cc_log_agg_1y]

cc_agg_all = cc_info_agg.copy()

for cc_log_agg in cc_log_agg_list:
    cc_agg_all = pd.merge(cc_agg_all, cc_log_agg.loc[: , ~cc_log_agg.columns.duplicated()], how='left', on='card_no')
cc_agg_all = cc_agg_all.fillna(0)

In [31]:
cc_agg_all.to_csv('satha_cc_agg_features.csv', index=False)
put_file(satha_credentials, 'satha_cc_agg_features.csv')

<Response [201]>

In [64]:
cc_log_jannov_agg = cc_log_agg_last_month

grouped = cc_log_jannov_agg.groupby(['card_no', 'Category']).agg({'bill_amt': opts}).unstack(fill_value=0)
cc_log_jannov_agg = pd.concat([grouped['bill_amt'][opt].reset_index()\
                              .rename(columns={x: x + '_1m_' + opt for x in grouped['bill_amt'][opt].columns}) for opt in opts], axis=1)
cc_log_jannov_agg = cc_log_jannov_agg.fillna(0)

cc_log_jannov_input = pd.merge(cc_info_agg, 
                               cc_log_jannov_agg.loc[:, ~cc_log_jannov_agg.columns.duplicated()], 
                               how='left', 
                               on='card_no').fillna(0)

cc_log_jannov_input.head()

,card_no,cr_lmt_amt,prev_cr_lmt_amt,cr_line_amt,incm_amt,opn_yr,exp_yr,card_age,age,Airlines_1m_mean,...,Miscellaneous Stores_1m_count,Others_1m_count,Personal Service Providers_1m_count,Professional Services and Membership Organizations_1m_count,Repair Services_1m_count,Retail Stores_1m_count,Service Providers_1m_count,Transportation_1m_count,Utilities_1m_count,Wholesale Distributors and Manufacturers_1m_count
0,4410123456000001,50000,0.0,50000.0,21000.0,1997.0,2017.0,20.0,64.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,4410123456000002,146000,0.0,146000.0,72000.0,2010.0,2020.0,10.0,52.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4410123456000003,22000,0.0,22000.0,20000.0,2014.0,2019.0,5.0,39.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,4410123456000004,1000000,0.0,2141000.0,1800000.0,2014.0,2019.0,5.0,62.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4410123456000005,80000,0.0,80000.0,32000.0,2014.0,2019.0,5.0,48.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [57]:
cc_input = pd.merge(cc_log_agg_201611, cc_info_agg, how='inner', on='card_no')
# cc_input = cc_input.drop(['card_type'], axis=1)
cc_input.head()

,card_no,Automobiles and Vehicles-freq,Automobiles and Vehicles-sum,Clothing Stores-freq,Clothing Stores-sum,Service Providers-freq,Service Providers-sum,Transportation-freq,Transportation-sum,Utilities-freq,Utilities-sum,cr_lmt_amt,prev_cr_lmt_amt,cr_line_amt,incm_amt,opn_yr,exp_yr,card_age,age
0,4410123456000001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,50000,0.0,50000.0,21000.0,1997.0,2017.0,20.0,64.0
1,4410123456000002,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,146000,0.0,146000.0,72000.0,2010.0,2020.0,10.0,52.0
2,4410123456000003,1.0,820.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22000,0.0,22000.0,20000.0,2014.0,2019.0,5.0,39.0
3,4410123456000004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1000000,0.0,2141000.0,1800000.0,2014.0,2019.0,5.0,62.0
4,4410123456000005,3.0,2400.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,80000,0.0,80000.0,32000.0,2014.0,2019.0,5.0,48.0

## Model Building

In [98]:
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, RandomForestRegressor
from sklearn.svm import SVC
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.cross_validation import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics.regression import mean_absolute_error, mean_squared_error
from sklearn.multioutput import MultiOutputRegressor
from sklearn.lda import LDA
from sklearn.decomposition import PCA

In [54]:
prediction_list = [] # a list of (name, model, x, y)

## Mindless Model

In [58]:
x, y = cc_input.iloc[:, 1:].copy(), cc_answer.iloc[:,1:11].copy()

In [59]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.5, random_state=42)

In [60]:
mindless_model = MultiOutputRegressor(GradientBoostingRegressor()).fit(x_train, y_train)

In [61]:
print 'Training MAE: ', mean_absolute_error(y_train, mindless_model.predict(x_train))
print 'Training MSE: ', mean_squared_error(y_train, mindless_model.predict(x_train))
print 'Testing MAE: ', mean_absolute_error(y_test, mindless_model.predict(x_test))
print 'Testing MSE: ', mean_squared_error(y_test, mindless_model.predict(x_test))

Training MAE:  1663.45818572
Training MSE:  246287458.999
Testing MAE:  1881.92447899
Testing MSE:  503647099.629

In [62]:
prediction_list.append(('Mindless', mindless_model, x, y))

In [ ]:
mindless_result = pd.DataFrame(mindless_model.predict(x), columns=cc_answer.iloc[:, 1:11].columns)
mindless_result['card_no'] = cc_answer.iloc[:, 0]
mindless_result.to_csv('satha-mindless-result.csv', index=False)
put_file(satha_credentials, 'satha-mindless-result.csv')

## Hopefully-More-Clever Model

In [99]:
x_train, x_test, y_train, y_test = train_test_split(cc_log_jannov_input.iloc[:, 2:], 
                                                    cc_answer.iloc[:, 1:11], 
                                                    test_size=0.5, 
                                                    random_state=42)

In [100]:
hmc_model = MultiOutputRegressor(RandomForestRegressor()).fit(x_train, y_train)

In [102]:
cc_log_jannov_input.iloc[:, 2:].to_csv('satha-hmc-input.csv', index=False)
put_file(satha_credentials, 'satha-hmc-input.csv')

cc_answer.iloc[:, 1:11].to_csv('satha-hmc-output.csv', index=False)
put_file(satha_credentials, 'satha-hmc-output.csv')

<Response [201]>
<Response [201]>

In [101]:
print 'Training MAE: ', mean_absolute_error(y_train, hmc_model.predict(x_train))
print 'Training MSE: ', mean_squared_error(y_train, hmc_model.predict(x_train))
print 'Testing MAE: ', mean_absolute_error(y_test, hmc_model.predict(x_test))
print 'Testing MSE: ', mean_squared_error(y_test, hmc_model.predict(x_test))

Training MAE:  753.575183233
Training MSE:  89611490.2211
Testing MAE:  2077.57504775
Testing MSE:  515878911.446

In [67]:
prediction_list.append(('HMC', hmc_model, cc_log_jannov_input.iloc[:, 2:], cc_answer.iloc[:, 1:11]))

In [92]:
hmc_result = pd.DataFrame(hmc_model.predict(cc_log_jannov_input.iloc[:, 2:]), columns = cc_answer.iloc[:, 1:11].columns)
hmc_result.to_csv('satha-hmc-result.csv', index=False)
put_file(satha_credentials, 'satha-hmc-result.csv')

<Response [201]>

In [93]:
hmc_result = pd.DataFrame(hmc_model.predict(cc_log_jannov_input.iloc[:, 2:]), columns = cc_answer.iloc[:, 1:11].columns)
hmc_result.head()

,Automobiles and Vehicles-freq,Automobiles and Vehicles-sum,Clothing Stores-freq,Clothing Stores-sum,Service Providers-freq,Service Providers-sum,Transportation-freq,Transportation-sum,Utilities-freq,Utilities-sum
0,0.0,74.0,0.0,0.0,0.1,1200.0,0.0,0.0,0.0,86.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2.8,2746.0,0.0,0.0,0.0,0.0,0.0,0.0,0.1,1210.0
3,0.0,0.0,0.0,0.0,0.1,138.0,0.0,0.0,0.1,0.0
4,4.1,1956.0,0.0,0.0,0.1,0.0,0.0,0.0,0.4,50.0

## Features-Eat-All-Ram Model

In [94]:
x, y = cc_agg_all, cc_answer

In [69]:
x_train, x_test, y_train, y_test = train_test_split(cc_agg_all.iloc[:, 1:], 
                                                    cc_answer.iloc[:, 1:11], 
                                                    test_size=0.5, 
                                                    random_state=42)

In [49]:
fear_model = MultiOutputRegressor(RandomForestRegressor()).fit(x_train, y_train)

In [79]:
prediction_list[2] = ('FEAR', fear_model, cc_agg_all.iloc[:, 1:], cc_answer.iloc[:, 1:11])

In [50]:
print 'Training MAE: ', mean_absolute_error(y_train, fear_model.predict(x_train))
print 'Training MSE: ', mean_squared_error(y_train, fear_model.predict(x_train))
print 'Testing MAE: ', mean_absolute_error(y_test, fear_model.predict(x_test))
print 'Testing MSE: ', mean_squared_error(y_test, fear_model.predict(x_test))

Training MAE:  744.7443331
Training MSE:  80514797.2178
Testing MAE:  2053.18228487
Testing MSE:  553720844.203

In [95]:
fear_result = pd.DataFrame(prediction_list[2][1].predict(prediction_list[2][2]), columns = cc_answer.iloc[:, 1:11].columns)
fear_result['card_no'] = cc_answer.iloc[:, 0]
fear_result.to_csv('satha-fear-result.csv', index=False)
put_file(satha_credentials, 'satha-fear-result.csv')

<Response [201]>

## He-Ate-Little-Features Model

In [81]:
x_train, x_test, y_train, y_test = train_test_split(cc_agg_all.iloc[:, 1:], 
                                                    cc_answer.iloc[:, 1:11], 
                                                    test_size=0.5, 
                                                    random_state=42)

In [84]:
pca = PCA(n_components=64).fit(x_train, y_train)
half_model = MultiOutputRegressor(RandomForestRegressor()).fit(pca.transform(x_train), y_train)

In [85]:
print 'Training MAE: ', mean_absolute_error(y_train, half_model.predict(pca.transform(x_train)))
print 'Training MSE: ', mean_squared_error(y_train, half_model.predict(pca.transform(x_train)))
print 'Testing MAE: ', mean_absolute_error(y_test, half_model.predict(pca.transform(x_test)))
print 'Testing MSE: ', mean_squared_error(y_test, half_model.predict(pca.transform(x_test)))

Training MAE:  833.646171272
Training MSE:  92422443.625
Testing MAE:  2293.75769178
Testing MSE:  548865678.829

In [87]:
prediction_list.append(('HALF', half_model, pca.transform(cc_agg_all.iloc[:, 1:]), cc_answer.iloc[:, 1:11]))

## Model Comparison

In [88]:
for name, model, x, y in prediction_list:
    print '----------', name, '----------'
    print 'MAE: ', mean_absolute_error(y, model.predict(x))
    print 'MSE: ', mean_squared_error(y, model.predict(x))

---------- Mindless ----------
MAE:  1772.69133235
MSE:  374967279.314
---------- HMC ----------
MAE:  1420.10129262
MSE:  295852501.73
---------- FEAR ----------
MAE:  1398.96330899
MSE:  317117820.711
---------- HALF ----------
MAE:  1563.70193153
MSE:  320644061.227

In [430]:
model_features = pd.DataFrame(columns=x_train.columns)
# a = None
for name, model, idx in hmc_model_list:
#     a = pd.DataFrame([model.feature_importances_], columns=x_train.columns)
#     break
    model_features = model_features.append(pd.DataFrame([model.feature_importances_], columns = x_train.columns, index=[name]))
# model_features[0, :].sort_values
# a.head()
# model_features = model_features.transpose()
for idx, row in model_features.iterrows():
    print '----------', idx, '----------'
    print row.sort_values(ascending=False)[:10]
    print '\n\n'
#     break
# model_features.iloc[:, 0].sort_values(ascending=False)

---------- Automobiles and Vehicles-freq ----------
Automobiles and Vehicles_count    0.509983
Automobiles and Vehicles_mean     0.042742
age                               0.041144
incm_amt                          0.040231
Automobiles and Vehicles_max      0.034971
prev_cr_lmt_amt                   0.031560
Automobiles and Vehicles_min      0.029894
cr_lmt_amt                        0.027544
cr_line_amt                       0.026797
opn_yr                            0.018168
Name: Automobiles and Vehicles-freq, dtype: float64



---------- Automobiles and Vehicles-sum ----------
Automobiles and Vehicles_mean     0.115834
Automobiles and Vehicles_max      0.113402
Automobiles and Vehicles_min      0.074226
Automobiles and Vehicles_count    0.074216
age                               0.055454
card_age                          0.053073
cr_lmt_amt                        0.051065
Personal Service Providers_max    0.050704
incm_amt                          0.046664
prev_cr_lmt_amt                   0.032901
Name: Automobiles and Vehicles-sum, dtype: float64



---------- Clothing Stores-freq ----------
Clothing Stores_max           0.090267
incm_amt                      0.062254
age                           0.057919
cr_line_amt                   0.049816
cr_lmt_amt                    0.041638
prev_cr_lmt_amt               0.034289
Clothing Stores_count         0.033795
Retail Stores_mean            0.033008
Miscellaneous Stores_count    0.031523
Retail Stores_max             0.029885
Name: Clothing Stores-freq, dtype: float64



---------- Clothing Stores-sum ----------
Clothing Stores_count     0.154741
Clothing Stores_max       0.097978
Clothing Stores_mean      0.092174
cr_lmt_amt                0.070884
Retail Stores_max         0.042973
prev_cr_lmt_amt           0.041683
opn_yr                    0.039909
Service Providers_mean    0.037477
cr_line_amt               0.036579
age                       0.033820
Name: Clothing Stores-sum, dtype: float64



---------- Service Providers-freq ----------
Service Providers_count                     0.484321
Service Providers_mean                      0.052912
Service Providers_max                       0.050140
age                                         0.048005
incm_amt                                    0.046630
Mail Order/Telephone Order Providers_min    0.044925
Service Providers_min                       0.036412
cr_line_amt                                 0.030247
cr_lmt_amt                                  0.029009
opn_yr                                      0.021840
Name: Service Providers-freq, dtype: float64



---------- Service Providers-sum ----------
prev_cr_lmt_amt          0.202372
age                      0.086173
incm_amt                 0.079323
cr_line_amt              0.050464
cr_lmt_amt               0.050304
opn_yr                   0.041490
Service Providers_max    0.029342
card_age                 0.026704
Retail Stores_min        0.025972
exp_yr                   0.024921
Name: Service Providers-sum, dtype: float64



---------- Transportation-freq ----------
Transportation_count          0.483803
Transportation_min            0.040663
Transportation_mean           0.033641
cr_lmt_amt                    0.025058
age                           0.024997
incm_amt                      0.022809
opn_yr                        0.017572
cr_line_amt                   0.016655
Miscellaneous Stores_count    0.014855
Hotels and Motels_count       0.014663
Name: Transportation-freq, dtype: float64



---------- Transportation-sum ----------
Transportation_max                                        0.105887
Transportation_count                                      0.084339
age                                                       0.045410
cr_lmt_amt                                                0.041608
prev_cr_lmt_amt                                           0.040635
Professional Services and Membership Organizations_min    0.040043
Professional Services and Membership Organizations_max    0.038631
Retail Stores_max                                         0.029599
cr_line_amt                                               0.028835
Miscellaneous Stores_count                                0.028516
Name: Transportation-sum, dtype: float64



---------- Utilities-freq ----------
Utilities_count              0.126653
Utilities_max                0.098575
Utilities_mean               0.052860
age                          0.051862
incm_amt                     0.050743
cr_line_amt                  0.041710
cr_lmt_amt                   0.037691
Miscellaneous Stores_max     0.032272
Miscellaneous Stores_mean    0.031678
Utilities_min                0.030376
Name: Utilities-freq, dtype: float64



---------- Utilities-sum ----------
Government Services_min                                   0.128210
Miscellaneous Stores_count                                0.085805
Transportation_min                                        0.084847
Hotels and Motels_max                                     0.084394
Professional Services and Membership Organizations_max    0.082880
Clothing Stores_mean                                      0.080412
Clothing Stores_max                                       0.078497
Government Services_max                                   0.074946
Transportation_count                                      0.073930
incm_amt                                                  0.017833
Name: Utilities-sum, dtype: float64

In [183]:
cc_answer_201512.describe()

,card_no,Automobiles and Vehicles-freq,Automobiles and Vehicles-sum,Clothing Stores-freq,Clothing Stores-sum,Service Providers-freq,Service Providers-sum,Transportation-freq,Transportation-sum,Utilities-freq,Utilities-sum
count,9.959400e+04,99594.000000,99594.000000,99594.000000,99594.000000,99594.000000,99594.000000,99594.000000,99594.000000,99594.000000,99594.000000
mean,4.410123e+15,0.015734,13.915497,0.005783,21.017330,0.004709,33.309838,0.002309,8.787678,0.002681,14.559913
std,2.886838e+04,0.131430,183.337658,0.095624,1053.371913,0.106273,2658.005935,0.055923,567.669278,0.064028,678.314570
min,4.410123e+15,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.410123e+15,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4.410123e+15,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,4.410123e+15,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,4.410123e+15,3.000000,36000.000000,6.000000,276300.000000,11.000000,800000.000000,4.000000,141460.000000,7.000000,92700.000000

## Visualization

In [ ]:
sns.boxplot()

In [ ]:
sns.distplot(cc.loc[cc['Automobiles and Vehicles-freq'] > 0, 'Automobiles and Vehicles-freq'])

In [ ]:
sns.distplot(cc['Clothing Stores-freq'])

In [ ]:
sns.distplot(cc['Service Providers-freq'])

In [ ]:
sns.distplot(cc['Transportation-freq'])

In [ ]:
sns.distplot(cc['Utilities-freq'])