In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.metrics import *

%matplotlib inline

## File Writing

In [2]:
from io import BytesIO  
import requests  
import json  
import pandas as pd

def put_file(credentials, local_file_name):  
    """This functions returns a StringIO object containing
    the file content from Bluemix Object Storage V3."""
    f = open(local_file_name,'r')
    my_data = f.read()
    url1 = ''.join(['https://identity.open.softlayer.com', '/v3/auth/tokens'])
    data = {'auth': {'identity': {'methods': ['password'],
            'password': {'user': {'name': credentials['username'],'domain': {'id': credentials['domain_id']},
            'password': credentials['password']}}}}}
    headers1 = {'Content-Type': 'application/json'}
    resp1 = requests.post(url=url1, data=json.dumps(data), headers=headers1)
    resp1_body = resp1.json()
    for e1 in resp1_body['token']['catalog']:
        if(e1['type']=='object-store'):
            for e2 in e1['endpoints']:
                        if(e2['interface']=='public'and e2['region']=='dallas'):
                            url2 = ''.join([e2['url'],'/', credentials['container'], '/', local_file_name])
    s_subject_token = resp1.headers['x-subject-token']
    headers2 = {'X-Auth-Token': s_subject_token, 'accept': 'application/json'}
    resp2 = requests.put(url=url2, headers=headers2, data = my_data )
    print resp2

In [3]:

# @hidden_cell
satha_credentials = {
  'auth_url':'https://identity.open.softlayer.com',
  'project':'object_storage_b3d15058_4aa1_42a1_975f_62c1c8b1699a',
  'project_id':'1e25eccc8cec40699e74914679c79593',
  'region':'dallas',
  'user_id':'f909479c2549457cb3fc79a7445beeff',
  'domain_id':'0592036926cf47bf87e889ec75d0d38b',
  'domain_name':'1154437',
  'username':'member_e28904fb9993787d907536191c825c593c36c601',
  'password':"""W-ucS.1Ge_fr.0b(""",
  'container':'201710kbankibm',
  'tenantId':'undefined',
  'filename':'cat_acronym.csv'
}

## Load data

In [4]:

from io import StringIO
import requests
import json
import pandas as pd

# @hidden_cell
# This function accesses a file in your Object Storage. The definition contains your credentials.
# You might want to remove those credentials before you share your notebook.
def get_object_storage_file_with_credentials_b3d150584aa142a1975f62c1c8b1699a(container, filename):
    """This functions returns a StringIO object containing
    the file content from Bluemix Object Storage."""

    url1 = ''.join(['https://identity.open.softlayer.com', '/v3/auth/tokens'])
    data = {'auth': {'identity': {'methods': ['password'],
            'password': {'user': {'name': 'member_e28904fb9993787d907536191c825c593c36c601','domain': {'id': '0592036926cf47bf87e889ec75d0d38b'},
            'password': 'W-ucS.1Ge_fr.0b('}}}}}
    headers1 = {'Content-Type': 'application/json'}
    resp1 = requests.post(url=url1, data=json.dumps(data), headers=headers1)
    resp1_body = resp1.json()
    for e1 in resp1_body['token']['catalog']:
        if(e1['type']=='object-store'):
            for e2 in e1['endpoints']:
                        if(e2['interface']=='public'and e2['region']=='dallas'):
                            url2 = ''.join([e2['url'],'/', container, '/', filename])
    s_subject_token = resp1.headers['x-subject-token']
    headers2 = {'X-Auth-Token': s_subject_token, 'accept': 'application/json'}
    resp2 = requests.get(url=url2, headers=headers2)
    return StringIO(resp2.text)

cc_info = pd.read_csv(get_object_storage_file_with_credentials_b3d150584aa142a1975f62c1c8b1699a('201710kbankibm', 'cc_info.csv'))
cc_info.head()

,card_no,card_type,opn_dt,exp_dt,cr_lmt_amt,prev_cr_lmt_amt,main_zip_cd,cr_line_amt,incm_amt,brth_estb_yr
0,4410123456000001,visa,1997-10-14,1017,50000,0,73120.0,50000,21000,1953.0
1,4410123456000002,master,2010-06-29,620,146000,0,43000.0,146000,72000,1965.0
2,4410123456000003,visa,2014-06-18,619,22000,0,23000.0,22000,20000,1978.0
3,4410123456000004,visa,2014-11-03,1119,1000000,0,10200.0,2141000,1800000,1955.0
4,4410123456000005,visa,2014-04-10,419,80000,0,57160.0,80000,32000,1969.0

In [5]:

answer = pd.read_csv(get_object_storage_file_with_credentials_b3d150584aa142a1975f62c1c8b1699a('201710kbankibm', 'answer.csv'))
answer.head()

,Automobiles and Vehicles-freq,Clothing Stores-freq,Service Providers-freq,Transportation-freq,Utilities-freq,Automobiles and Vehicles-sum,Clothing Stores-sum,Service Providers-sum,Transportation-sum,Utilities-sum
0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0
1,0,0,1,0,0,0.0,0.0,1580.0,0.0,0.0
2,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0
3,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0
4,0,0,0,1,0,0.0,0.0,0.0,780.0,0.0

In [6]:

cc_log = pd.read_csv(get_object_storage_file_with_credentials_b3d150584aa142a1975f62c1c8b1699a('201710kbankibm', 'cc_log.csv'))
cc_log.head()

,card_no,txn_dt,txn_tm,bill_amt,card_acpt_cty,mrch_tp_cd,card_type
0,4410123456098153,2017-03-21T00:00:00.000+07:00,10:22:19,5660,TH,4722,visa
1,4410123456018545,2017-03-21T00:00:00.000+07:00,23:30:43,100,US,5818,visa
2,4410123456085556,2017-03-21T00:00:00.000+07:00,07:32:54,1540,TH,6300,visa
3,4410123456047294,2017-03-21T00:00:00.000+07:00,05:16:20,1500,TH,5541,visa
4,4410123456074332,2017-03-21T00:00:00.000+07:00,13:18:56,680,TH,5812,visa

In [7]:

cc_cat = pd.read_csv(get_object_storage_file_with_credentials_b3d150584aa142a1975f62c1c8b1699a('201710kbankibm', 'Final_categories.csv'))
cc_cat = cc_cat.rename(str,{'Categories':'Category'})
cc_cat.head()

   Category   MCC
0  Airlines  3000
1  Airlines  3001
2  Airlines  3002
3  Airlines  3003
4  Airlines  3004

## Change data types

In [8]:
cc_log['txn_dt'] = pd.to_datetime(cc_log['txn_dt'])

## Joining data

In [9]:
cc_log = pd.merge(cc_log, cc_cat, how='left', left_on='mrch_tp_cd', right_on='MCC')

In [10]:
cc_log['Category'] = cc_log['Category'].fillna('Others')

In [11]:
cc_log = cc_log.drop(['mrch_tp_cd'], axis=1)

## Aggregation

In [ ]:
def oneHotAgg(x):
    temp = {}
    for cat in ['Automobiles and Vehicles', 'Clothing Stores', 'Service Providers', 'Transportation', 'Utilities']:
        temp[cat + '-freq'] = (x.loc[x.Category == cat, 'bill_amt']).count()
        temp[cat + '-sum'] = (x.loc[x.Category == cat,'bill_amt']).sum()
    return pd.Series(temp)

def generate_answer(cc_log, year=2017, month=1):
    cc_answer_pattern = pd.DataFrame({
    'card_no': cc_info['card_no'],
    'Automobiles and Vehicles-freq': np.zeros(cc_info['card_no'].shape[0]),
    'Clothing Stores-freq': np.zeros(cc_info['card_no'].shape[0]),
    'Service Providers-freq': np.zeros(cc_info['card_no'].shape[0]),
    'Transportation-freq': np.zeros(cc_info['card_no'].shape[0]),
    'Utilities-freq': np.zeros(cc_info['card_no'].shape[0]),
    'Automobiles and Vehicles-sum': np.zeros(cc_info['card_no'].shape[0]),
    'Clothing Stores-sum': np.zeros(cc_info['card_no'].shape[0]),
    'Service Providers-sum': np.zeros(cc_info['card_no'].shape[0]),
    'Transportation-sum': np.zeros(cc_info['card_no'].shape[0]),
    'Utilities-sum': np.zeros(cc_info['card_no'].shape[0])})
    cc_log_ans = cc_log.loc[(cc_log['txn_dt'].apply(lambda x:x.month) == month) & 
                                (cc_log['txn_dt'].apply(lambda x:x.year) == year), :]
    cc_answer = cc_log_ans.groupby('card_no').apply(oneHotAgg).reset_index()
    
    tmp = pd.merge(cc_answer_pattern, cc_answer, how='left', on='card_no').fillna(0)
    
    for a in [x+y for x in ['Automobiles and Vehicles', 'Clothing Stores', 'Service Providers', 'Transportation', 'Utilities']
            for y in ['-freq', '-sum']]:
        tmp[a] = tmp[a + '_x'] + tmp[a + '_y']
        tmp = tmp.drop([a + '_x', a + '_y'], axis=1)

    return tmp

In [ ]:
cc_answer_201701 = generate_answer(cc_log, year=2017, month=1)

In [ ]:
cc_answer_201601 = generate_answer(cc_log, year=2016, month=1)

## Naive Evaluation

In [ ]:
pd.DataFrame(columns=['name'] + [x+y for x in ['Automobiles and Vehicles', 'Clothing Stores', 'Service Providers', 'Transportation', 'Utilities']
            for y in ['-freq', '-sum']])

In [ ]:
scores = pd.DataFrame(columns=[x+y for x in ['Automobiles and Vehicles', 'Clothing Stores', 'Service Providers', 'Transportation', 'Utilities']
            for y in ['-freq', '-sum']])

scoring_data = {
    '201601_MAE':{
        'pred': cc_answer_201601,
        'ans': cc_answer_201701,
        'fn': mean_absolute_error
    },
    '201601_MSE':{
        'pred': cc_answer_201601,
        'ans': cc_answer_201701,
        'fn': mean_squared_error
    },
    '201612_MAE':{
        'pred': cc_answer_201612,
        'ans': cc_answer_201701,
        'fn': mean_absolute_error
    },
    '201612_MSE':{
        'pred': cc_answer_201612,
        'ans': cc_answer_201701,
        'fn': mean_squared_error
    }
}

for name, data in scoring_data.iteritems():
    new_data = dict()
#     new_data['name'] = [name]
    for a in [x+y for x in ['Automobiles and Vehicles', 'Clothing Stores', 'Service Providers', 'Transportation', 'Utilities']
                for y in ['-freq', '-sum']]:
        new_data[a] = [data['fn'](data['pred'][a], data['ans'][a])]
    scores = scores.append(pd.DataFrame(new_data, index=[name]))
#     print new_data

scores.head()

## Jan 2016 Only

In [ ]:
cc_log_201601 = cc_log.loc[(cc_log['txn_dt'].apply(lambda x:x.month) == 1) & 
                                (cc_log['txn_dt'].apply(lambda x:x.year) == 2016), :]

pd.pivot_table(cc_log_201601, values='bill_amt', index='card_no', columns='Category', 
               aggfunc='sum', fill_value=0).reset_index()

## Preprocess data

In [ ]:
cc_answer = cc_answer_201612.copy()

categories = ['Automobiles and Vehicles', 'Clothing Stores', 
              'Service Providers', 'Transportation', 'Utilities']

for cat in categories:
    cc_answer[cat + '_has_spending'] = (cc_answer[cat + '-freq'] > 0).astype(np.int32)

for col in cc_answer.iloc[:, 1:].columns:
    cc_answer[col] = cc_answer[col].astype(np.float32)
    
cc_answer.head()

In [ ]:
cc_info_agg = cc_info.copy()

cc_info_agg['opn_yr'] = pd.to_datetime(cc_info_agg['opn_dt']).apply(lambda x: x.year)
cc_info_agg['exp_yr'] = cc_info_agg['exp_dt'].apply(lambda x:2000 + (x % 100))
cc_info_agg['card_age'] = cc_info_agg['exp_yr'] - cc_info_agg['opn_yr']
cc_info_agg['age'] = 2017 - cc_info_agg['brth_estb_yr']

cc_info_agg = cc_info_agg.fillna(0)

cc_info_agg = cc_info_agg.drop(['main_zip_cd', 'brth_estb_yr', 'exp_dt', 'opn_dt', 'card_type'], axis=1)

for col in cc_info_agg.iloc[:, 2:].columns:
    cc_info_agg[col] = cc_info_agg[col].astype(np.float32)

cc_info_agg.head()

In [ ]:
cc_cat['Category'].unique()

In [ ]:
cc_log_agg_201611 = generate_answer(cc_log, year=2016, month=11)

In [ ]:
last_month = 11
cc_log_agg_last_month = cc_log.loc[(cc_log['txn_dt'].apply(lambda x: x.month) == last_month) & 
                               (cc_log['txn_dt'].apply(lambda x: x.year) < 2017), :].copy()
cc_log_agg_3_month = cc_log.loc[(cc_log['txn_dt'].apply(lambda x: x.month) > last_month - 3) & 
                                (cc_log['txn_dt'].apply(lambda x: x.month) <= last_month) &
                               (cc_log['txn_dt'].apply(lambda x: x.year) < 2017), :].copy()
cc_log_agg_6_month = cc_log.loc[(cc_log['txn_dt'].apply(lambda x: x.month) > last_month - 6) & 
                                (cc_log['txn_dt'].apply(lambda x: x.month) <= last_month) &
                               (cc_log['txn_dt'].apply(lambda x: x.year) < 2017), :].copy()
cc_log_agg_whole_year = cc_log.loc[(cc_log['txn_dt'].apply(lambda x: x.month) <= last_month) &
                               (cc_log['txn_dt'].apply(lambda x: x.year) < 2017), :].copy()

In [ ]:
opts = ['mean', 'min', 'max', 'count']

grouped = cc_log_agg_last_month.groupby(['card_no', 'Category']).agg({'bill_amt': opts}).unstack(fill_value=0)
cc_log_agg_1m = pd.concat([grouped['bill_amt'][opt].reset_index()\
                              .rename(columns={x: x + '_1m_' + opt for x in grouped['bill_amt'][opt].columns}) for opt in opts], axis=1)
# cc_log_agg_1m = cc_log_agg_1m.fillna(0)

grouped = cc_log_agg_3_month.groupby(['card_no', 'Category']).agg({'bill_amt': opts}).unstack(fill_value=0)
cc_log_agg_3m = pd.concat([grouped['bill_amt'][opt].reset_index()\
                              .rename(columns={x: x + '_3m_' + opt for x in grouped['bill_amt'][opt].columns}) for opt in opts], axis=1)
# cc_log_agg_3m = cc_log_agg_3m.fillna(0)

grouped = cc_log_agg_6_month.groupby(['card_no', 'Category']).agg({'bill_amt': opts}).unstack(fill_value=0)
cc_log_agg_6m = pd.concat([grouped['bill_amt'][opt].reset_index()\
                              .rename(columns={x: x + '_6m_' + opt for x in grouped['bill_amt'][opt].columns}) for opt in opts], axis=1)
# cc_log_agg_6m = cc_log_agg_6m.fillna(0)

grouped = cc_log_agg_whole_year.groupby(['card_no', 'Category']).agg({'bill_amt': opts}).unstack(fill_value=0)
cc_log_agg_1y = pd.concat([grouped['bill_amt'][opt].reset_index()\
                              .rename(columns={x: x + '_1y_' + opt for x in grouped['bill_amt'][opt].columns}) for opt in opts], axis=1)
# cc_log_agg_1y = cc_log_agg_1y.fillna(0)

In [ ]:
cc_log_agg_list = [cc_log_agg_1m, cc_log_agg_3m, cc_log_agg_6m, cc_log_agg_1y]

cc_agg_all = cc_info_agg.copy()

for cc_log_agg in cc_log_agg_list:
    cc_agg_all = pd.merge(cc_agg_all, cc_log_agg.loc[: , ~cc_log_agg.columns.duplicated()], how='left', on='card_no')
cc_agg_all = cc_agg_all.fillna(0)

In [ ]:
cc_agg_all.to_csv('satha_cc_agg_features.csv', index=False)
put_file(satha_credentials, 'satha_cc_agg_features.csv')

In [ ]:
cc_log_jannov_agg = cc_log_agg_last_month

grouped = cc_log_jannov_agg.groupby(['card_no', 'Category']).agg({'bill_amt': opts}).unstack(fill_value=0)
cc_log_jannov_agg = pd.concat([grouped['bill_amt'][opt].reset_index()\
                              .rename(columns={x: x + '_1m_' + opt for x in grouped['bill_amt'][opt].columns}) for opt in opts], axis=1)
cc_log_jannov_agg = cc_log_jannov_agg.fillna(0)

cc_log_jannov_input = pd.merge(cc_info_agg, 
                               cc_log_jannov_agg.loc[:, ~cc_log_jannov_agg.columns.duplicated()], 
                               how='left', 
                               on='card_no').fillna(0)

cc_log_jannov_input.head()

In [ ]:
cc_input = pd.merge(cc_log_agg_201611, cc_info_agg, how='inner', on='card_no')
# cc_input = cc_input.drop(['card_type'], axis=1)
cc_input.head()

## Model Building

In [ ]:
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, RandomForestRegressor
from sklearn.svm import SVC
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.cross_validation import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics.regression import mean_absolute_error, mean_squared_error
from sklearn.multioutput import MultiOutputRegressor
from sklearn.lda import LDA

In [ ]:
prediction_list = [] # a list of (name, model, x, y)

## Hopefully-More-Clever Model

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(cc_log_jannov_input.iloc[:, 2:], 
                                                    cc_answer.iloc[:, 1:11], 
                                                    test_size=0.5, 
                                                    random_state=42)

In [ ]:
hmc_model = MultiOutputRegressor(RandomForestRegressor()).fit(x_train, y_train)

In [ ]:
print 'Training MAE: ', mean_absolute_error(y_train, hmc_model.predict(x_train))
print 'Training MSE: ', mean_squared_error(y_train, hmc_model.predict(x_train))
print 'Testing MAE: ', mean_absolute_error(y_test, hmc_model.predict(x_test))
print 'Testing MSE: ', mean_squared_error(y_test, hmc_model.predict(x_test))

In [ ]:
prediction_list.append(('HMC', hmc_model, cc_log_jannov_input.iloc[:, 2:], cc_answer.iloc[:, 1:11]))

In [ ]:
hmc_result = hmc_model.predict(cc_log_jannov_input.iloc[:, 2:])
#hmc_result.to_csv('satha-hmc-result.csv', index=False)
#put_file(satha_credentials, 'satha-hmc-result.csv')

In [ ]:
hmc_result.shape

In [ ]:
hmc_result.head()